@import url("forms.css");
@import url("fonts.css");


/* Contenedor general de formularios y galería */
div.container {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 1000px;
    margin: 0 auto;
    /*background-color: red;*/
}

/* Clase error usuario en Index */
p.errorLogin {
    color: red;
    font-weight: bold;
    padding-top: 10px;
}

p.fotoSubida {
    color: green;
    font-weight: bold;
    padding-top: 10px;
}

/* Clase usuario registrado correctamente en Index */
p.registro {
    color: green;
    font-weight: bold;
    padding-top: 10px;
}

/* Clase error subirImagenes.php */
p.errorImagen {
    color: red;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    margin-top: -120px;
}

/* Div container-galeria */
div.galeria {
    padding-top: 50px;
    justify-content: flex-start;
    width: 600px;
}

div.galeria {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5px;
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 30px;
}

/* Imágenes de la galería */
div.galeria img {
    width: 180px;
    height: 200px;
    object-fit: cover;  /* Propiedad para que la imágen no se deforme al cambiar las dimensiones */
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Botón formulario de la página errorRegistro.php */
a.botonFormulario {
    margin-top: 20px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color: #f9f9f9;
	border-radius: 2px;
	border: 1px solid rgb(118, 118, 118);
	display: inline-block;
	cursor: pointer;
	color: #000;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}

a.botonFormulario:hover {
    font-weight: 400;
    background: #ececec;
}


/* Lista parges/eleccionUsuario.php */
ul.eleccionUsuario {
    list-style: none;
    width: 500px;
    display: flex;
    justify-content:space-around;
}

ul.eleccionUsuario li a {
    width: 200px;
    padding: 10px 20px;
    background-color: #333;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 400;
    display: block;
}

a.galeria {
    width: 40%;
    padding: 10px 20px;
    background-color: #333;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 400;
    display: block;
}

ul.eleccionUsuario li a:hover, a.galeria:hover {
    font-weight: 400;
    background-image: linear-gradient(to right, #333, #474747, #333);
    /*moz-transition: all .4s ease-in-out;*/
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

a.galeria {
    margin-top:20px;
    width: 40%;
}

div.botonesSubirImagenes, div.botonesGaleria {
    margin-top: 20px;
    width: 490px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

a.subirImagenes {
    width: 100% !important;
}
